@using MudBlazor
@using IO_Checkout_Tool.Services.Interfaces
@inject IPlcCommunicationService PlcCommunication

<MudDialog DefaultFocus="DefaultFocus.None" DisableFocusTrap="true" Style="width:300px">
    <DialogContent>
        <MudText><b>Tag:</b> @Tag!.Name</MudText>
        <MudText><b>Description:</b> @Tag!.Description </MudText>
        <MudButton Variant="Variant.Filled" @onpointerup="() => FireUp()" @onpointerdown="() => FireDown()" @onmouseleave="() => HandleMouseLeave()" Style="@style"> FIRE</MudButton>
    </DialogContent>
    <DialogActions>
        <button @onclick="Cancel">Cancel</button>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public Io? Tag { get; set; }

    string style = "user-select:none;-webkit-user-select:none;font-size:100px; margin-top:25px;background-color:green";

    bool disable = false;
    bool isProcessing = false;

    void Cancel() => MudDialog!.Cancel();

    protected override void OnInitialized()
    {
        PlcCommunication.InitializeOutputTag(Tag!);
    }

    private void FireDown()
    {
        style = "user-select:none;-webkit-user-select:none;font-size:100px; margin-top:25px;background-color:lightgreen";
        PlcCommunication.ToggleBit();
        disable = true;
        isProcessing = false;
    }

    private void FireUp()
    {
        if (disable && !isProcessing)
        {
            isProcessing = true;
            PlcCommunication.ToggleBit();
            disable = false;

            MudDialog!.Close(DialogResult.Ok(0));
        }
    }

    private void HandleMouseLeave()
    {
        if (disable && !isProcessing)
        {
            FireUp();
        }
    }
}

<style>
    button {
        font-size: 18px;
    }

    @@media (pointer: fine) {
        a span {
            display: none;
        }

        a:hover span {
            display: inline-block;
        }
    }
</style>