{
  "ip": "192.168.1.100",
  "path": "1,0",
  "remoteUrl": "https://commissioning.lci.ge",
  "ApiPassword": "",
  "subsystemId": "16",
  "orderMode": "0",
  "syncBatchSize": 50,
  "syncBatchDelayMs": 500
} 