@using MudBlazor
@inject IDialogService DialogService;

<MudDialog DefaultFocus="DefaultFocus.None" DisableFocusTrap="true" Style="width:300px">
    <DialogContent >
        <MudText><b>Tag:</b> @Tag</MudText>
        <MudTextField T="string" Variant="Variant.Outlined" @bind-Value="@Comment" Lines="3" />
    </DialogContent>
    <DialogActions>
        <button @onclick="Accept">Accept</button>
        <button @onclick="Cancel">Cancel</button>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public string? Tag { get; set; }
    [Parameter] public string? Comment { get; set; }

    void Accept()
    {
        if(Comment!.Trim() == string.Empty)
        {
            DialogService.ShowMessageBox("Warning", "You must leave a comment");
            return;
        }
        MudDialog!.Close(DialogResult.Ok(Comment));
    }

    void Cancel() => MudDialog!.Cancel();

}

<style>
    button{
        font-size:18px;
    }

    @@media (pointer: fine) {
        a span {
            display: none;
        }

        a:hover span {
            display: inline-block;
        }
    }
</style> 